<section id="insurances">
    <div class="container">

        <div class="row">
            <div class="col-sm">
                <img  class="img" src="../../assets/car.png">
            </div>
            <div class="col-sm">
                <h1>CAR INSURANCE</h1>
                <p class="text"> 
                    Integer rhoncus dui ante, a iaculis libero gravida consectetur. 
                    Proin lobortis fermentum dolor, et mattis erat euismod nec. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Etiam massa lorem, semper nec volutpat sit amet, ornare at mauris. 
                    Sed non elit sem.
                </p>
    
            </div>
        </div>
    </div>
    <img class="wave" src="../../assets/wave.png">
</section>