<section id="credit-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>AT ACADIA BANK YOU ALSO HAVE A COMPLETE LINE OF CREDIT</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Nam condimentum tellus eu pharetra vestibulum. 
                    Ut ultricies leo nisl, luctus pretium diam hendrerit sed. 
                    In hendrerit ipsum non vehicula finibus. 
                    Mauris dignissim pulvinar congue. 
                    Praesent id ligula lacus. 
                    Integer rhoncus dui ante, a iaculis libero gravida consectetur. 
                    Proin lobortis fermentum dolor, et mattis erat euismod nec. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Etiam massa lorem, semper nec volutpat sit amet, ornare at mauris. 
                    Sed non elit sem.</p>
            </div>
            <div class="col-sm-2">
                <img class="img" src="../../assets/card-white.png">
            </div>
            
        </div>
    </div>
</section>
<img class="wave-down" src="../../assets/wave-down.png">