<footer>
    <section class="between">
        
    </section>
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1> Acadia Bank </h1>
                    <p>P. Marilia - Zona Sul, <br>Ilha Solteira - SP.<br> 15385-000<br></p>
                </div>
                <div class="col-sm">
                    <h1>Support</h1>
                    <p>SAC: 4002-8922<br>Email: support@acadiabank.com </p>
                </div>
                <div class="col-sm">
                    <h1>Social Media</h1>
                    <a href="https://twitter.com/_otubas"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="https://github.com/edusatelis"><i class="fab fa-github fa-2x"></i></a>
                    <a href="https://www.linkedin.com/in/luiz-eduardo-satelis-dos-santos-61b7a3166/"><i class="fab fa-linkedin-in fa-2x"></i></a>
                </div>
            </div>
            <hr noshade>
            <div class="row">
                <div class="col-sm">
                    <h6 class="copy">&copy; Copyright Acadia Bank 2021</h6>
                </div>
                <div class="col-sm">
    
                    <h6 class="copy">By: Edusatelis</h6>
                </div>
            </div>
        </div>
    </section>
</footer>