section{
    background-color: #262626;
}
hr{
    height: 1px;
    width: 100%;
}
h1{
    font-size: 20px;
}
p{
    margin-top: 20px;
    font-weight: 300;
    font-size: 15px;
}
*{
    color: white;
    text-align: center;
}

a{
    margin-top: 20px;
    margin-left: 20px;
}

.copy{

    text-align: center;
}

.between{
    height: 250px;
}