<section id="mobile">
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>
                Download our app
            </h1>

            <p>
                Integer rhoncus dui ante, a iaculis libero gravida consectetur. 
                Proin lobortis fermentum dolor, et mattis erat euismod nec. 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Etiam massa lorem, semper nec volutpat sit amet, ornare at mauris. 
                Sed non elit sem.
            </p>

            <img class="logo" href="" src="../../assets/play-store.png">
            <img class="logo" href="" src="../../assets/app-store.png">
        </div>
        <div class="col-sm">
            <img src="../../assets/app.png">
        </div>
    </div>
</div>
<div class="container bg">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">

        </div>
    </div>
</div>
</section>