<section class="bg">
    <ab-header></ab-header>
    <br><br>
    <div class="container">
        <div class="text row">
        <div class="col">
                <img class="logo"src="./../../assets/logo_white.png">
                <h1 class="">Welcome to ACADIA BANK</h1>
                <p class="">Your Digital Bank</p>
                <button mat-button id="button" class="btn btn-outline-light">Abrir Conta</button>
            </div>
            <div class="col-sm">
            </div> 
        </div>
        <br><br>
    </div>
  
</section>
<ab-services></ab-services>
<ab-credit-card></ab-credit-card>
<ab-insurance></ab-insurance>
<ab-mobile></ab-mobile>
<ab-footer></ab-footer>