<section id="services" class="container" >

    <h1 >Services</h1 >
    <div class="row">
            <div class="col-sm">
                <div class="icon">
                    <a><i class="fa fa-globe"></i><br><b>Online</b></a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Nam at orci non diam dapibus molestie. 
                        Pellentesque et eleifend ex, sit amet pharetra felis. 
                        Morbi aliquet sollicitudin euismod. 
                    </p>
            </div>
            </div>
        <div class="col-sm">
          <div class=" icon">
              <a><i class="fa fa-credit-card"></i><br><b>Credit Card</b></a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  Nam at orci non diam dapibus molestie. 
                  Pellentesque et eleifend ex, sit amet pharetra felis. 
                  Morbi aliquet sollicitudin euismod. 
              </p>
          </div>
        </div>
        <div class="col-sm">
            <div class=" icon">
                <a><i class="fa fa-home"></i><br><b>Home Insurance</b></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Nam at orci non diam dapibus molestie. 
                    Pellentesque et eleifend ex, sit amet pharetra felis. 
                    Morbi aliquet sollicitudin euismod. 
                </p>
            </div>
          </div>
          <div class="col-sm">
            <div class="icon">
                <a><i class="fa fa-car"></i><br><b>Car Insurance</b></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Nam at orci non diam dapibus molestie. 
                    Pellentesque et eleifend ex, sit amet pharetra felis. 
                    Morbi aliquet sollicitudin euismod. 
                </p>
            </div>
          </div>
    </div>
</section>
<img class="wave" src="../../assets/wave.png">