section{
    margin-top: -15px;
    background-color: #262626;
}

h1{
    text-transform: uppercase;
    color: white;
}

p{
    margin-top: 50px;
    color: white;
    font-weight: 300;
}

.logo{
    margin-top: 50px;
    width: 40%;
}

@media(min-width: 360px){
    section{
        margin-top: -20px;
    }
}